QPushButton
{
   background-color: rgb(0, 150, 136);
   color: rgb(255, 255, 255);
   border-radius: 10px;
   font: 75 8pt "Rubik";
}
QPushButton:pressed
{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
QPushButton:hover
{
    color: rgb(255, 255, 255);
    background-color: rgb(150, 35, 0);
}

